body {
    font-family: 'Lato', sans-serif;
    background-color: hsl(204, 82%, 13%);
}

h1 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 20px;
}

header {
    font-size: 55px;
    text-align: center;
    background-color: hsla(204, 82%, 33%, 0.5);
    margin: 0px 0px;
    border: 3px solid hsla(205, 0%, 100%, 0.5);
    color: white;
    border-radius: 25px;
}

.firstLine {
    display: flex;
    text-align: center;
}

.secondLine {
    display: flex;
    text-align: center;
}

table {
    table-layout:fixed;
    border-collapse: collapse;
    width: 500px;
    height: 150px;
    margin: 10px 0px;
}

th {
    border: 2px solid;
    font-size: 20px;
    background-color: hsl(205, 80%, 6%);
}

td {
    border: 2px solid;
    font-size: 20px;
    background: hsl(204, 81%, 15%);
}

.selectors {
    background-color: hsl(204, 82%, 33%);
    color:white;
    width: 40%;
    text-align: center;
    margin: 15px 500px;
    padding: 10px 20px;
    border: 3px solid hsla(205, 0%, 100%, 0.5);
    border-radius: 500px;
}

.universal, .class, .id, .element {
    background-color: hsl(204, 82%, 33%);
    color: white;
    margin: 15px 95px;
    padding: 0px 100px;
    border: 3px solid hsla(205, 0%, 100%, 0.5);
    border-radius: 40px;
}

img {
    width: 400px;
    border-radius: 150px;
    float: left;
    margin: 0px 30px;
}
